body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 1px;
}

body h1, body h2 {
  font-weight: 500;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
